body {
    display: grid;
    width: 100%;
    height: 800px;
    grid-template-areas:
        "header nav"
        "article nav"
        "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.header {
    grid-area: "header";
    background-color: aqua;
}

#barra {
    grid-area: "nav";
    background-color: rgb(163, 163, 255);
}

.article {
    grid-area: "article";
    background-color: chartreuse;
}

.footer {
    grid-area: "footer";
    background-color: brown;
}